<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
<form (submit) ='onSignup(signupForm)' #signupForm ='ngForm' *ngIf="!isLoading">

    <mat-form-field>
      <input matInput type="email" name = "email" ngModel #emailInput="ngModel" placeholder="Email" required email>

      <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" name="password" ngModel #passwordInput="ngModel" matInput placeholder="Password" required >
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>



    </mat-form-field>
    <button mat-raised-button color="accent" type="submit"*ngIf="!isLoading" >Sign Up</button>

</form>
</mat-card>

<!--
  How to use other form way

  to submit - (submit) ='onLogin(s)'
    need in login.component.ts
     onLogin(form:NgForm){
    console.log('hey');
  }

  to target each other-
  for inputs
  name="password" ngModel #passwordInput="ngModel"

  forforms
  #loginForm ='ngForm'

  validators
  required email
   *ngIf="passwordInput.invalid"
-->
